
<div class="container">
  <div class="col-md-12 mt-5">
    <p class="text-right"><%= link_to "シフトを追加する", new_admins_shift_path, class:"btn btn-success" %></p>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <% if flash[:notice] %>
          <%= flash[:notice] %>
      <% end %>

      <%= week_calendar events: @shifts do |date, shifts| %>
          <%= date.day %>
      <% end %>
    </div>
  </div>
</div>

