/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar" ;

.bootstrap-date-only-width {
  display: inline-block;
  width: auto;
}

.navbar{
  background-color: #FF9999;
}

.logo{
  width: 300px;
　height: 200px;
}

.no-underline{
  text-decoration: none;
  color: black;
}

.size{
  font-size: 12.5em;
  color: #FF9999;
}

.container{
  font-family: arial unicode ms;
}

.information_top{
  font-size: 13px;
}

#map{
  width: 1100px;
  height: 400px;
}

#admins-map{
  width: 400px;
  height: 400px;
}

.table-top{
    width: 100%;
    table-layout: fixed;

}

.table-top th{
 text-align: center;
}

.table-top td{
  text-align: center;
}

.title-box{
  background-color: #FFFFFF;
   border: solid 2px #ddd;
   margin-bottom: 3px;
}

.title-box-start{
  background-color: #CCFFCC;
   border: solid 2px #ddd;
   margin-bottom: 3px;
}

.title-box-finish{
  background-color: #FFCCCC;
   border: solid 2px #ddd;
   margin-bottom: 3px;
}

.logo{
  font-size: 30px;
  font-family: arial black;
}

.user-shift{
 color: orange;
}


.nav {
    width: 550px;
    margin: 100px auto 0 auto;
    text-align: center;
}


.nav {
    font-family: arial unicode ms;
    font-size: 14px;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #fff;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

footer{

  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 45px 0;
  background-color: #FFF;
}

.link{
  text-decoration: none;
  color: black ;
  background-color: black;
  transform: scale(1);
}

.link:hover {
	text-decoration: none;
	color: white;

}
